
.menu li {
    display: inline-block;
    position: relative;
}

.menu ul {
    list-style: none;
    width: 100%;
}


.box {
    width: 150px;
    height: 150px;
    background-color: antiquewhite;
    border-radius: 5px;
    border: black 2px solid;
    margin: 20px;
}

.big {
    width: 80%;
    height: 300px;
    margin: 20px 10%;
}

.element {
    padding: 50px;
    border-radius: 5px;
    border: black 2px solid;
    margin: 20px;
}


.parent {
    width: 200px;
    height:100px;
    border:1px solid red;
}

.children {
    width: 200px;
    height:100px;
    background-color: pink;
    display: none;
}
